body{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.sidebarcont{
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:30%;
  overflow: auto;
  min-height: 669px;
  box-shadow: 0px 0px 5px #646566;
  -moz-box-shadow: 0px 0px 5px #646566;
  -webkit-box-shadow: 0px 0px 5px #646566;
  -ms-box-shadow: 0px 0px 5px #646566;
  -o-box-shadow: 0px 0px 5px #646566;
}
.sidebar{
  background: green;
  width:100%;
  min-height: 669px;
  display: block;
}
.content{
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: right;
  min-height: 669px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
}
