body{
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: hidden;
}
.sidebarcont{
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:30%;
  overflow: auto;
  min-height: 669px;
  box-shadow: 0px 0px .9px #646566;
  -moz-box-shadow: 0px 0px .9px #646566;
  -webkit-box-shadow: 0px 0px .9px #646566;
  -ms-box-shadow: 0px 0px .9px #646566;
  -o-box-shadow: 0px 0px .9px #646566;
}
.sidebar{
  background: white;
  width:100%;
  min-height: 669px;
  display: block;
}
.sidebarlogo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebaritem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logotext{
  font-family: 'Tangerine', cursive;
  font-size: 70px;
  color: #a3a09b;
}
.inputs{
  margin-top: 40px;
}
.inputsbox{
  display: block;
}
.inputlabel{
  color: #a3a09b;
}
.buttonbox:hover{
  background-color: #d6d6d6;
}
.buttonbox:active{
  transform: scale(0.8);
}
.buttonbox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor : pointer;
  margin-top: 30px;
  transition: transform .2s;
  box-shadow: 0px 0px .5px #646566;
  -moz-box-shadow: 0px 0px .5px #646566;
  -webkit-box-shadow: 0px 0px .5px #646566;
  -ms-box-shadow: 0px 0px .5px #646566;
  -o-box-shadow: 0px 0px .5px #646566;
}
.content{
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: right;
  min-height: 669px;
  max-height: 669px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color:  #d6d6d6;
}
::-webkit-scrollbar-thumb:hover{
  background-color:  #c4c0c0;
}
.innerpagecontentbox{
  background-color: white;
  min-height: 669px;
  width:100%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.innerpagecontent{
  display: block;
  overflow: auto;
  background-color: white;
}
.abs{

  color: #a3a09b;
}
.abs2{

  color: #a3a09b;
}
.abs3{

  color: #a3a09b;
}

.imagebox:hover{
  transform: scale(0.7);
}
.imagebox{
  display: flex;
  z-index: 1;
  transition: transform .2s;
  align-items: center;
  justify-content: center;
}
.showvalue{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show1{
  color: black;
}
.show2{
  color: black;
}
.show3{
  color: black;
}
.description{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
